/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'application/variables';

@import 'susy';
@import 'compass';
@import 'font-awesome';
@import 'bootstrap';
@import 'bootstrap-select/dist/css/bootstrap-select';
@import 'bootstrap-datepicker/css/datepicker3';

@import 'welcome';

.main-nav {
  @include pie-clearfix;
  display: block !important;
  clear: both;
  margin-top: 0px;
  margin-bottom: 20px;

  &.navbar-fixed-top + .container {
      padding-top: 70px;
  }
}

h1, h2, h3 {
  margin-top: 0px;
}

// Flash

.flash-notice {
  @extend .alert;
  @extend .alert-info;
}

.flash-alert {
  @extend .alert;
  @extend .alert-danger;
}

// Form

@mixin form-box {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(128,128,128,.4);
  -moz-box-shadow: 0 1px 4px rgba(128,128,128,.4);
  box-shadow: 0 1px 4px rgba(128,128,128,.4);
}

.new-entry {
  margin-top: 48px;
  @include pie-clearfix;

  // Reset form elements

  input, input:focus, input:active, input:hover,
  select, select:focus,
  .bootstrap-select button, .bootstrap-select button:focus {
    @include box-shadow(none !important);
    background: transparent none !important;
    border: none transparent !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -webkit-appearance: initial !important;
  }

  select, select:focus {
    option {
      color: black;
    }
    option:first-child {
      display: none;
    }
  }

  // Native select & Bootstrap-select style

  select, select:focus,
  .bootstrap-select button {
    height: 56px;
  }

  .bootstrap-select .filter-option,
  select.empty, select.enhanced, select option:first-child {
    color: #a9a9a9;
    font-size: 18px;
  }

  .filter-option i {
    color: green;
    padding-right: 10px;
  }

  .enhanced.optional .filter-option {
    font-size: 12px;
  }

  input {
    font-size: 18px;
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 16px;
  }

  input[type='submit'] {
    color: #fff;
    background: #4bc800!important;
    border: 0;
    -webkit-box-shadow: inset 0 -2px 0 #45b900!important;
    -moz-box-shadow: inset 0 -2px 0 #45b900!important;
    box-shadow: inset 0 -2px 0 #45b900!important;
  }

  button {
    padding: 0px;
  }

  // Caret and icons
  span.caret{
    display:none;
  }
}

$susy-entries-grid: layout(auto 12 .25 inside fluid isolate);

.main-container {
  @include layout($susy-entries-grid no-gutters);
  @include container;
  @include show-grid(overlay);

  input[type='submit'] {
    @extend .visible-md;
  }
}

input[type='submit'].main {
  @extend .visible-xs;
  @extend .visible-sm;
  @extend .visible-lg;
}

input[type='date']::-webkit-input-placeholder,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

@media (max-width: $screen-sm-max) {
  .new-entry {
    @include form-box;
    margin-bottom: 48px;
  }

  input[type='submit'] {
    @include span(full);
  }

  .main-container, .secondary-container {
    @include prefix(10px);
    @include span(full);
  }
}

@media (min-width: $screen-sm-min) {
  .main-container {
    @include prefix(10px);
  }

  .time-container input[name='entry[date]'],
  .time-container input[name='entry[duration]'],
  .activity-container, .group-container,
  .project-container, .issue-container {
    @include span(50%);
  }
}

@media (min-width: $screen-md-min) {
  input[type='submit'] {
    @include span(1 of 12);
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .main-container {
    @include form-box;
    @include span(full);

    .time-container input[name='entry[date]'] {
      @include span(1.6);
      @include post(0.1);
    }
    .time-container input[name='entry[duration]'] {
      @include span(0.7);
      @include post(0.1);
    }
    .activity-container {
      @include span(2.2);
    }
    .group-container {
      @include span(2.2);
    }
    .description-container {
      @include span(4.1);
    }
  }
  .secondary-container {
    @include span(full);
    margin-bottom: 48px;
  }
}

@media (min-width: $screen-lg-min) {
  .new-entry {
    @include form-box;
    height: 56px;
    margin-bottom: 48px;
  }

  .main-container {
    @include span(9 of 12);

    @include nested(9) {
      .time-container input[type='entry[date]'] {
        @include span(1.3);
        @include post(0.1);
      }
      .time-container input[name='entry[duration]'] {
        @include span(0.6);
        @include post(0.1);
      }
      .activity-container {
        @include span(1.8);
      }
      .group-container {
        @include span(1.8);
      }
      .description-container {
        @include span(3.3);
      }
    }
  }
  .secondary-container {
    @include span(2 of 12);
  }
}

// Listing

.last-entries {
  section header {
    span.title {
      line-height: 30px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  section {
    margin-bottom: 30px;
  }

  table {
    width: 100%;

    tr:not(:last-child) {
      border-bottom: 1px solid rgb(235, 235, 235);
    }

    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    td.action {
      width: 30px;
    }
    td.details {
      @include word-break('break-all');

      span.group {
        background-color: green;
      }
      span.project {
        color: green;
      }
      span.issue {
        font-style: italic;
        color: #808080;
      }
    }
    td.date {
      min-width: 100px;
      text-align: right;

      span.duration {
        padding-left: 10px;
        font-weight: bold;
      }
    }
  }
}
